body {
    background-color: #8dc63f;
    font-family: Arial, sans-serif;
    margin: 0;
    cursor: url(../image/cursorFootball.cur),auto;
}

.wrapper {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.logo {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo img {
    padding-left: 35px;
}

.logo p,
.contacts a {
    font-size: 22px;
    color: #39930d;
    text-decoration: none;
}

.logo p,
.contacts p {
    margin: 0;
}

.logo b {
    display: block;
    font-size: 44px;
    color: #39930d;
}
.logo i {
    font-size: 14px;
    color: #5a5a5a;
}
.manager {
    color: #39930d;
    font-size: 44px;
    margin: 0;
    padding-top: 5px;
}
.official-site {
    color: #5a5a5a;
    font-size: 14px;
    margin: 0;
    padding-top: 11px;
}
.football {
    color: #39930d;
    font-size: 22px;
    margin: 0;
    padding-top: 25px;
}
.contacts {
    text-align: right;
    text-decoration: none;
    margin: 0;
    padding-top: 26px;
}
.phone-link {
    font-size: 22px;
    color: #39930d;
    text-decoration: none;
    margin: 0;
}

.contacts a:hover {
    color: #343434;
}

.hz {
    color: #5a5a5a;
    font-size: 14px;
    margin: 0;
}

.main {
    display:flex;
    justify-content: space-between;
    margin: 0;
}
.pro-fotball {
    color: #39930d;
    font-size:24px;
    margin: 0;
}

.main-text {
    padding-top: 25px;
}

.menu {
    color: #fff;
    width: 100%;
    max-width: 300px;
    line-height: 1.5em;
    margin: 0;
    padding-top: 24px;
}

.url li:hover > a {
    color: #343434;
}
.partner {
    background-color: #39930d;
    font-size: 18px;
    padding: 10px;
    margin: 0;
    padding-left: 20px;
}
.picture {
    margin: 0px 16px 20px 0px;
    width: 100%;
    margin: 0;
}
.url {
    color: #39930d;
    font-size: 14px;
    text-transform: uppercase;
    list-style: none;
    padding-left: 20px;
    line-height: 2em;
}
.footer {
    background-color: #39930d;
    color: #fff;
    padding: 10px;
    margin: -10px;
}
.main-text {
    width: 100%;
    max-width: 600px;
    color: #343434;
}

.main {
    padding-bottom: 46px;
}

.main-text p {
    line-height: 1.5em;
}

.link {
    color: #39930d;
}
